.search {
  margin: 20px 0 20px 0;
}

ul {
  padding-left: 0;
  margin: 0;
  border: 1px black solid;
  border-bottom: 0;
  width: 80%;
}

ul:last-child {
  border-bottom: 1px;
}

li {
  padding: 10px 15px;
  list-style: none;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.icons {
  display: flex;
  align-items: center;
}

.more-info {
  color: #3182ce;
  font-size: 16px;
}

.more-info:hover {
  cursor: pointer;
}

.show-states {
  color: #d5408c;
  font-size: 16px;
}

.show-states:hover {
  cursor: pointer;
}
